/* Applies to the entire app */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
